{% load static %}
<!-- Links to CSS and JavaScript -->
<link rel="stylesheet" href="{% static 'header.css' %}">

<script src="{% static 'header.js' %}"></script>
<script src="{% static 'globalJSFunctions.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'menu' %}">Home</a></li>
            <li><a href="{% url 'game1example' %}">Game 1 Example</a></li>
            <!-- Add more links to other pages here -->
        </ul>
    </nav>
    
{% block content %}{% endblock %}
</body>
</html>